simulation_ws/src/aws-robomaker-bookstore-world
simulation_ws/src/aws-robomaker-small-house-world
robot_ws/build
robot_ws/bundle
robot_ws/install
robot_ws/log
robot_ws/src/deps
simulation_ws/build
simulation_ws/bundle
simulation_ws/install
simulation_ws/log
simulation_ws/src/deps
