sudo: required
language: generic
notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - ros-contributions@amazon.com
env:
  matrix:
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="robot_ws"
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="simulation_ws"
  global:
  - SA_NAME=cloudwatch
  - SA_PACKAGE_NAME=cloudwatch_robot
  - NO_TEST=true
  - GH_USER_NAME="travis-ci"
  - GH_USER_EMAIL="travis@travis-ci.org"
  - AWS_DEFAULT_REGION=us-west-2
  - secure: lrzFwJj3Sz8We2koyIInUkbdJSLRLqycCiLDVrRmbcYzQUnxkq4DkME3QN/zMCbKDTgxBlOPn/FhSE2bZl4csaWROQpKPNaFPGgxwmX9BNWF7EzvS9u0HQ97+mmdbStTZEQglBIw8BW1XzTod16lvT0OawITe1Nd2h7GVFqILCjN5xtPIY/56NFRVl7Z63nn5SF1XijY080oUk4ntqkPTRAVL/XcVa/4EndKvMTs7qnwfMoW7CRgRckvAVgNRad+Qb8EQfoIMwxvR7pER8ytYfyBbXdx9LvIgexdBVcqqGW+pxJGkgaFVxYNGXx8JcO39YTedWEsWMXfXo2O0A9JtlVZjA1NB3O5cWPAFzdllQAadI3OQiQ3HAfJyRZ0akzZPBkOEGKZrxgg5bRRbB2q9YjbvmCR6jqEjOURX1Ob1uRH78+mXa/yT61T52f4WgGE8QH9RxczhBFpCVSVzSKphK45tiIvr0be/vMyMO3/WE4RFrTUs6aw17weewe1WBkWdk1IYhEM8K0rTLW3Sue+voELRbIsuICt/w583VJT67boeu3HhBQTTw1P0dTS8QTgk0kXXJHRLDF8KjMgTWx2j5lHqVlYrXyujPxKvBU7I1zwuRWMKO39RBgJGoYnrvllNVwp7ss5XhCbRUMDkcHUnZehGt7Z5672icdaBWpccOk=
  - secure: nzoD0pRazu+wKKRVu2PdjxBpXOq5XDkrfjc3R6g8OKYpq89ilD/MAjeBzLsMmpJYG0BFp1eWBoLhxppZkYMHoM1o1C9CZe4xLIyx1hS+IdpYWt1y9maIlzyO4C3l66EGAiEmtuybGe3a4HZLaccGpqswaf4aFnklsLMJ48XFCqMQZEWWGNwK36yn1G8JXzCNif0r8mLnzrPgStFvqgbkdxRCR/MTHIXTIIfAbfjaCrsJgMSCZLf9LFfwjRj+gP34CjvDGR7LYavY2JhOvsoj05K0hf68Z3uprSNv10NMT6cdxDb7On8odqdXFJjy7c7ttMzkoUlWUGwUS1SOoSKNhNrg8yxKrTsytTsr4n7yzUJeJ+945RS25PcGXhlwoCcEZ1vED8eRYrcx4OOSzUQ1ZCJYRVjK4JNebHeoy2u+9h34TtRhnZszTHwc45dMZHXZmoFCzUjRmPg3jlU/gULvEMUp1MV9QJTftjcWsjZrkYhxa1Ro48k/3cOEBLWcHerxuQeU2gw9fE+Ql8ETJgq6LAqVMeP270oh5+Yix8S1ef4FFpRmqgOd36Gw3j2ynqcXpoSy4Ea+cplYnZWiP8qc+0hxuL5zFEvy4V3z/C7pjrQQrrO9WbGfXLfAaU3wEudBspxABIEW7jxqZw5c0jCstXbV8kQLKkc7TRXSdt1ZFwY=
before_install:
  - pip install --user awscli
install:
  - git clone -b colcon-bundle-src-only https://github.com/aws-robotics/travis-scripts.git .ros_ci
script:
  - ". .ros_ci/add_tag.sh"
  - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
  - ".ros_ci/ce_build.sh"
  - kill %1
before_deploy:
  - ". .ros_ci/before_deploy.sh"
deploy:
  - provider: s3
    access_key_id: "$AWS_ACCESS_KEY_ID"
    secret_access_key: "$AWS_SECRET_ACCESS_KEY"
    bucket: "$S3_BUCKET_NAME"
    region: us-west-2
    local_dir: shared
    skip_cleanup: true
    wait-until-deployed: true
    on:
      branch: ros2
    upload-dir: travis/${SA_NAME}/${ROS_DISTRO}/gazebo${GAZEBO_VERSION}
  - provider: script
    script: bash .ros_ci/codepipeline_deploy.sh
    on:
      branch: ros2
after_deploy:
  - ".ros_ci/post_deploy.sh"
