sudo: required
language: generic
notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - ros-contributions@amazon.com
env:
  matrix:
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="robot_ws"
  - ROS_DISTRO=dashing ROS_VERSION=2 GAZEBO_VERSION=9 WORKSPACES="simulation_ws"
  global:
  - SA_NAME=cloudwatch
  - SA_PACKAGE_NAME=cloudwatch_robot
  - NO_TEST=true
  - GH_USER_NAME="travis-ci"
  - GH_USER_EMAIL="travis@travis-ci.org"
  - AWS_DEFAULT_REGION=us-west-2
  - secure: gG/sXORdS5Pq3hG/ERX6IPqD37omt+KBOSYMSZBbGqNEZzkpvJJsWaXvVCDqbkK353egKpG4giplC4xzTTSdqEVowBrLW3zbyuJE4q2adyfshQLsFK3qMgBA2CV4Bh76a6BtaMsPXDKUpEQi0JYBy+ONAmBx6QEskPRf4yXSpVTT1jd0xSJMtFiSZBwSvJNktm6GlCTZ9tSF8HU5La9DDpOMm06pW+IX5+qYyVLv21Yct9Dud47YAmZN6vXPbiF9DNsM7tgTAyMBzxCXax1bGgMZdQC7sG9n0t+pcmHWS7omNIehrA6fXJmuMqHBh6IihzWdbOZFfai5QRUz1nF8sTi5QlL/e3BHatJxnSLW0/6mw/maRcn/Yil0LYq8cOLFwevJdns1v3xBzyV8iCpS/ol39uoGMHg7JyCO+Nfu4Of5kKQDnA8+r57pTS0W3Vovsg/tA+FXJwY4wEFghu5rk0TF1Fb/8iU/eQmpH1WSP+Ci/MuvVsaGsuV52OXugv9bnN4Cqe9JcJqwI70824lSCBExGmT+oFp2dZFGusNp+dyLeU48RqWXe7vcWV7VKroJPDxM3kOZ2nJj98RINTFL/wEt/y7Gj4xg1g2nNHNYMJC3I8sdxkgGBVtlEmVU94hMil4Ou10y2J693gXpMaMlvGOsq3LrI7Xm1Dv+r8kEA6o=
  - secure: utLdgzJd7KtjYDJ48tpj2/jALh3Qw+rWcKV69J5YEm/sbvA2sRgkK9xR9pm2YmfcNAyMFBMAgx/qb3sbHB/rkTcBMM0ngXtGluSrhPEHlfmpSZstkBWLNNfeZqW8sqIkAk+9L1T2rGauIM9lRLJsY6+PL/HcBOvVk9PAxMggF7YxSikpebZhfGoCvPNhenaeuwUQk8saAXah3i3yvF5DUpo0xYPRy0+fC8jencrBp2JalpKQROxSbQ2fxzn4HHhilXqUbX13x+Dg5DHF1vxTcl2Ob8EPAMDkiHUepc/2ultqi7yXiie3MwjYVgcHRkfs8C5OtbYhd4igWj2Tb6mA+FoBfvqH0xVvJnRjjxeGyxMR2hrMihJe61UEWHgsXpwoEvxeJAjZayXBA5zALIQzuRJAqvlOlYd0BO9CjvXk2DaFcVSQmnAmBlNaeUoFHB5fkyHC4PEtTcBDnlI9a4gWfB4EdgbxtAUDQjNa+3JOOv+UrDDq7BSuQQLeBSXVuJQNC34rqRpHUk8P1zmH5XCiyMSbocyXo5EId4QAsHwVuItcmnoH9xpyNwx+U8Uw66xXGfL9666JF9TMyMInfJh2zxYHCmuaA0ug8bkdman00Nal+TWyuvkj0rsz8ecsmAEAbisA7fLCSIAzB8WmKcYmajtD+FmUfu2chHYS9SujF5E=
before_install:
  - pip install --user awscli
install:
- git clone -b apt-testing-repo https://github.com/aws-robotics/travis-scripts.git .ros_ci
script:
  - ". .ros_ci/add_tag.sh"
  - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
  - ".ros_ci/ce_build.sh"
  - kill %1
before_deploy:
  - ". .ros_ci/before_deploy.sh"
deploy:
  - provider: s3
    access_key_id: "$AWS_ACCESS_KEY_ID"
    secret_access_key: "$AWS_SECRET_ACCESS_KEY"
    bucket: "$S3_BUCKET_NAME"
    region: "us-west-2"
    local_dir: shared
    skip_cleanup: true
    wait-until-deployed: true
    on:
      branch: ros2
    upload-dir: travis/${SA_NAME}/${ROS_DISTRO}/gazebo${GAZEBO_VERSION}
  - provider: script
    script: bash .ros_ci/codepipeline_deploy.sh
    on:
      branch: ros2
after_deploy:
  - ".ros_ci/post_deploy.sh"
