<launch>
  <!-- 
        A bookstore with a Turtlebot navigating to pre-determined 
        goals in a random order endlessly.

        Note that navigation nodes are in the simulation application 
        as it uses a virtual map and should not be deployed to 
        the real robot. 

        Requires environment variable TURTLEBOT3_MODEL to be set to "burger"

        Only Turtlebot Burger is currently supported. SLAM maps for 
        Waffle and Waffle PI need to be generated.
  -->

  <!-- If true, will follow a pre-defined route forever -->
  <arg name="follow_route" default="true"/>

  <!-- 
       Always set GUI to false for AWS RoboMaker Simulation
       Use gui:=true on roslaunch command-line to run with a gui.
  -->
  <arg name="gui" default="false"/>

  <!-- World and Robot -->
  <include file="$(find aws_robomaker_bookstore_world)/launch/bookstore_turtlebot_navigation.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="x_pos" value="-3.5"/>
    <arg name="y_pos" value="5.5"/>
    <arg name="yaw"   value="0.0"/>
  </include>

  <!-- Send navigation route goals to the robot in random order -->
  <group if="$(arg follow_route)">
    <node pkg="aws_robomaker_simulation_common" type="route_manager" name="route_manager" output="screen">
      <rosparam file="$(find aws_robomaker_bookstore_world)/routes/route.yaml" command="load"/> 
    </node>
  </group>
</launch>
